__pycache__/
*.pyc
*.pyo

*.npy
*.npz

*.pt
*.pth
*.ckpt
*.h5
*.keras

.ipynb_checkpoints/

logs/
executed_notebook/
math_notebook/

ParamEst-NN-main/data/models/
ParamEst-NN-main/data/result_noniid/
ParamEst-NN-main/data/scan_cache/
ParamEst-NN-main/data/figures/

ParamEst-NN-main/scripts/__pycache__/